![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [22]:
# We've loaded your first package for you! You can add as many cells as you need.
import numpy as np
import pandas as pd

In [23]:
# Import CSV for prices
airbnb_price = pd.read_csv('airbnb_price.csv')

# Import Excel file for room types
airbnb_room_type = pd.read_excel('airbnb_room_type.xlsx')

# Import TSV for review dates
airbnb_last_review = pd.read_csv('airbnb_last_review.tsv', sep='\t')

In [24]:
# Join the three data frames together into one
listings = pd.merge(airbnb_price, airbnb_room_type, on='listing_id')
listings = pd.merge(listings, airbnb_last_review, on='listing_id')
listings.head()

,listing_id,price,nbhood_full,description,room_type,host_name,last_review
0,2595,225 dollars,"Manhattan, Midtown",Skylit Midtown Castle,Entire home/apt,Jennifer,May 21 2019
1,3831,89 dollars,"Brooklyn, Clinton Hill",Cozy Entire Floor of Brownstone,Entire home/apt,LisaRoxanne,July 05 2019
2,5099,200 dollars,"Manhattan, Murray Hill",Large Cozy 1 BR Apartment In Midtown East,Entire home/apt,Chris,June 22 2019
3,5178,79 dollars,"Manhattan, Hell's Kitchen",Large Furnished Room Near B'way,private room,Shunichi,June 24 2019
4,5238,150 dollars,"Manhattan, Chinatown",Cute & Cozy Lower East Side 1 bdrm,Entire home/apt,Ben,June 09 2019

# What are the dates of the earliest and most recent reviews?

In [28]:
# Convert 'last_review' column to datetime type
listings['last_review_date'] = pd.to_datetime(listings['last_review'], format='%B %d %Y')

# Find the dates of the earliest and most recent reviews
earliest_review_date = listings['last_review_date'].min()
latest_review_date = listings['last_review_date'].max()

# Display the results
print(f"Earliest Review Date: {earliest_review_date.strftime('%Y-%m-%d')}")
print(f"Most Recent Review Date: {latest_review_date.strftime('%Y-%m-%d')}")

Earliest Review Date: 2019-01-01
Most Recent Review Date: 2019-07-09

# How many of the listings are private rooms?

In [29]:
# Make capitalization consistent for the 'room_type' column
listings['room_type'] = listings['room_type'].str.lower()

# Count the number of private rooms
private_room_count = listings[listings['room_type'] == 'private room'].shape[0]

# Display the result
print(f"The number of private rooms: {private_room_count}")

The number of private rooms: 11356

# What is the average listing price?

In [31]:
# To convert price to numeric, remove " dollars" from each value
listings['price_clean'] = listings['price'].str.replace(' dollars', '').astype(float)
avg_price = listings['price_clean'].mean()

# Find the dates of the earliest and most recent reviews
first_reviewed = listings['last_review_date'].min()
last_reviewed = listings['last_review_date'].max()

review_dates = pd.DataFrame({
    'first_reviewed': [first_reviewed],
    'last_reviewed': [last_reviewed],
    'nb_private_rooms': [private_room_count],
    'avg_price': [round(avg_price, 2)]
})

print(review_dates)

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78